.btn-smart{
    background: rgb(255, 69, 79);
  }

.btn{
    text-decoration: none;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 700;
    border-radius: 30px;
    font-size: 14px;
    padding: 20px 40px;
    
  }
  .col-4{
    width: 33.33%;
  }
// HEADER
.banner {
    width: 100%;
    height: 100vh;
    background: url("../src/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .banner__content{
        display: flex;
        align-items: center;
        height: 100vh;
        color: #fff;
      }

      .container {
        width: 1200px;
        max-width: 1200px;
        margin: 0 auto;
      }

      .banner__text{
        width: 500px;

        h3{
            font-size: 50px;
          }
        h1{
            font-size: 80px;
            line-height: 80px;
            font-weight: 900;
            margin-top: 20px;
          }
          p {
            font-size: 25px;
            font-weight: 500px;
            margin-top: 20px;
          }
      }     
  }

  
/* NAVBAR */
.navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;

    .navbar__text{
        display: flex;
        height: 60px;
        align-items: center;
        width: 1200px;
        margin: 0 auto;

        .logo{
            width: 40%;
        
            img {
                width: 220px;
              }
          }
      }
      .navbar__ul{
        width: 60%;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
      }
      
      li a {
        text-decoration: none;
        color: #fff;
        padding: 0 15px;
        font-weight: 800;
      }
      a:hover {
        text-decoration: none;
        color:rgb(185, 94, 9);
        padding: 0 15px;
        font-weight: 800;
      }

  }
  
    
/* ABOUT */
.about{
    padding: 80px 0;
    .container{
        width: 100%;
        padding: 0 30px;
        .row{
          width:100%;
          display: flex;
          flex-wrap: wrap;
          .col-6{
            width: 50%;
            .about__img{
                width:  100%;
                overflow: hidden;
              }
        }
        .p-25{
            padding: 25px;
            h3{
                color: rgba(37, 37, 37, 0.7);
                font-size: 30px;
                margin-bottom: 12px;
                font-weight: 700px;
            }
            h1{
                font-size: 40px;
                color: #252525;
                font-weight: 700px;
                line-height: 40px;
                margin-bottom: 15px;
            }
            
                p{
                    font-size: 18px;
                    color: #8b8b8b;
                    font-weight: 300px;
                }
                .about__btn{
                  margin-top: 35px;
                }
                .btn-smart{
                    background: rgb(255, 69, 79);
                  }
                
                .btn{
                    text-decoration: none;
                    border: none;
                    outline: none;
                    color: #fff;
                    font-weight: 700;
                    border-radius: 30px;
                    font-size: 14px;
                    padding: 20px 40px;
                    
                  }
          }
        }
    }
  }
   
  
  .col-3{
    width: 25%;
  }


  
  
  
  .about__img img{
    width: 100%;
  }

/* SHOP */
.shop{
    width: 100%;
    background: url("../src/img/bg.jpg");
    height: 450px;
    background-attachment: fixed;

    .shop__text{
        height: 450px;
        display: flex;
        align-items: center;
        width: 350px;
        justify-content: center;
        margin: 0 auto;
        color: #fff;

        h1{
            font-size: 40px;
            line-height: 60px;
            font-weight: 600;
            font-style: normal;
            letter-spacing: 0.5px;
          }
      }
  }
  .shop__btn{
    margin-top: 35px;
  }

/* CLIENTS */
.clients{
    width: 100%;
    padding: 100px 0;
    color: #fff;
    background-color: #000;
  }
  
  .client{
    text-align: center;

    h1{
        font-style: 45px;
      }
      p{
        font-style: 18px;
        font-weight: 400;
        margin-top: 10px;
      }
  }

// PRICES 
  .prices{
    width: 100%;
    padding: 80px 0;

    .price{
        padding: 40px;
        text-align: center;

        .price__img{
            width: 100%;
        
            img{
                width: 250px;
              }
          }
          .price__heading{
            margin-top: 20px;
            font-size: 25px;
          }

          .price__text{
            margin-top: 15px;
            color: #888;
            font-size: 18px;
            font-weight: 300;
          }
          
          .price_rs{
            font-size: 30px;
            margin-top: 15px;
          }
      }    
  }


  @media(max-width:700px) {
    .navbar__text{
      display: flex;
      height: 60px;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0 auto;
    }
    .logo{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .container{
      width: 100%;
      padding: 0 30px;
    }
    .banner__text{
      width: auto;

      h3{
        font-size: 25px;
      }
      h1{
        font-size: 40px;
        line-height: 60px;
        font-weight: 900;
        margin-top: 20px;
      }
      p {
        font-size: 20px;
        font-weight: 400px;
        margin-top: 20px;
      }
    }

    .navbar__ul{
      width: 100%;
      justify-content: center;
    }
    .navbar__ul li a {
      text-decoration: none;
      color: #fff;
      padding: 0 10px;
      font-weight: 300;
    }
    .col-3,
    .col-4,.col-6{
      width: 100%;
    }
    .client{
      margin: 20px 0;
    }
    .about h1{
      font-size: 25px;
    }
    .shop h1{
      font-size: 25px;
    }
    .menu h1{
      font-size: 25px;
    }
  }